:fullscreen a {
    display: flex
}

a {
    display: flex;
}

body {
    color: darkgray;
}

h1 {
    font-size: 32px;
}

.container {
    margin: 0 5%;
}

p {
    color: dimgray;
}

.col-xs-6 {
    float: left;
    width: 50%;
    padding: 0 5%;
}
